/* Dark Mode Styles */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .navbar {
    background-color: #1c1c1c;
}

body.dark-mode .btn-outline-light {
    color: #ffffff;
    border-color: #ffffff;
}

body.dark-mode .btn-outline-light:hover {
    background-color: #ffffff;
    color: #121212;
}
